<!-- Square card -->
<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <div class="mdl-cell mdl-cell--4-col">
    <h3 class="mdl-typography--text-center">Students</h3>
  </div>
</div>


<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="" style="overflow: auto">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="myTable">
      <thead>

      <tr>
        <form action="<%= students_path %>">
          <th colspan="3">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="filter_by_query" name="query" value="<%= params[:query] %>">
              <label class="mdl-textfield__label" for="filter_by_query">Search</label>
            </div>
          </th>
          <th>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Search</button>
          </th>
        </form>
        <th>
          <%= link_to 'New Student', new_student_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
        </th>
        <th colspan="2"></th>
      </tr>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Mobile No.</th>
        <th class="mdl-data-table__cell--non-numeric">Balance Fee</th>
        <th class="mdl-data-table__cell--non-numeric">View</th>
        <th class="mdl-data-table__cell--non-numeric">Edit</th>
        <th class="mdl-data-table__cell--non-numeric">Delete</th>
        <th class="mdl-data-table__cell--non-numeric">Fee Collection</th>

      </tr>
      </thead>

      <tbody style=" height: 20rem;">
      <% @students.each do |student| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= student.first_name %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= student.mobile_no %></td>
            <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency((student.allocated_fee.to_f - student.discount.to_f) - student.total_paid.to_f) %></td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to student, class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_show_<%= student.id %>'>pageview</i>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to edit_student_path(student),
                          class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_edit_<%= student.id %>' >mode_edit</i>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to student, method: :delete, data: { confirm: 'Are you sure?' },
                          class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_delete_<%= student.id %>'>delete</i>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to 'Pay Fee',  {controller: 'student_fees', action: 'new', student_id: student.id}, class: 'mdl-button mdl-js-button mdl-button--accent' %>
            </td>
          </tr>

          <div class="mdl-tooltip" data-mdl-for="tt_show_<%= student.id %>">
            <strong>View Student</strong>
          </div>
          <div class="mdl-tooltip" data-mdl-for="tt_edit_<%= student.id %>">
            <strong>Edit Student</strong>
          </div>
          <div class="mdl-tooltip" data-mdl-for="tt_delete_<%= student.id %>">
            <strong>Delete Student</strong>
          </div>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>