<%= link_to "<i class='material-icons'>keyboard_arrow_left</i> Back".html_safe, student_path(@payment.student), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent avoid-in-print' %>
<%= link_to "Print", '#', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored avoid-in-print', onclick: 'window.print();' %>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
    <div >
    <%= image_tag 'logo-dnyanjyoti.jpg', class: 'responsive', width: 100, height: 100 %>
    </div>
  <div class="mdl-layout-spacer"></div>
    <div class="mdl-typography--text-center" >
      <h5>KRISHA FOUNDATION'S</h5>
      <em>Reg. No.: MAHARASHTRA/7408/JALGAON F/5984(JALGAON)</em>
      <h5 style="color: red"><%= ClassInfo.first.class_name.upcase %></h5>
      <em><%= ClassInfo.first.address %></em><br/>
      <em>Contact No: <%= ClassInfo.first.contact_no %></em>
    </div>
  <div class="mdl-layout-spacer"></div>
    <div  >
      <%= image_tag 'logo-krisha.jpg', class: 'responsive', width: 100, height: 100 %>
    </div>
  <div class="mdl-layout-spacer"></div>
</div>
<hr/>
<div class="mdl-grid">
  <span style="float: right">Receipt No.: <%= @payment.id %></span>
  <div class="mdl-layout-spacer"></div>
  <span style="float: right">Date: <%= @payment.payment_date %></span>
</div>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <h5>Fee Receipt </h5>
  <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col">
    <h6>
      Received With Thanks from <strong><%= @payment.student.first_name.upcase %></strong><br/>
      The Sum of Rupees <strong><%= I18n.with_locale(:en) { @payment.amount.to_f.round(2).to_words hundreds_with_union: true } %></strong> Only<br/>
      By <strong><%= @payment.payment_method %></strong> <strong><%= @payment.payment_desc %></strong>. <br/>
      Installment no. <strong><%= @payment.installment_no %></strong>.<br/>
      Paid By: <strong><%= @payment.paid_by %></strong>.
    </h6>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <h5><strong>Total: <%= @payment.student.allocated_fee.to_f.round(2) - @payment.student.discount.to_f.round(2) %> /-</strong></h5>
  <div class="mdl-layout-spacer"></div>
  <h5><strong>Paid: <%= @payment.student.total_paid %> /-</strong></h5>
  <div class="mdl-layout-spacer"></div>
  <h5><strong>Balance: <%= (@payment.student.allocated_fee.to_f.round(2) - @payment.student.discount.to_f.round(2)) - @payment.student.total_paid.to_f.round(2) %> /-</strong></h5>
  <div class="mdl-layout-spacer"></div>
</div>
<br/>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <h5>
    <br/>
    Sign
  </h5>
</div>
<hr/>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <span style="font-size: smaller">
    Powered By LINKER IT SOLUTIONS PVT. LTD.
  </span>
</div>
<script type="text/javascript">
  $(document).ready(function () {
   window.print();
  });
</script>