<%= link_to "<i class='material-icons'>keyboard_arrow_left</i> Back".html_safe, :back, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <h3><%= @student.first_name %></h3>
    <div style="overflow: auto">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>
        <tr>
          <th>Father occupation</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.father_occupation %></td>
        </tr>
        <tr>
          <th>Mother name</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.mother_name %></td>
        </tr>
        <tr>
          <th>Address</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.address %></td>
        </tr>
        <tr>
          <th>Father Mobile No.</th>
          <td class="mdl-data-table__cell--non-numeric">
            <%= @student.mobile_no %>
          </td>
        </tr>
        <tr>
          <th>College name</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.college_name %></td>
        </tr>
        <tr>
          <th>Student class</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.student_class %></td>
        </tr>
        <tr>
          <th>Division</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.division %></td>
        </tr>
        <tr>
          <th>Date of birth</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.date_of_birth %></td>
        </tr>
        <tr>
          <th>Admission date</th>
          <td class="mdl-data-table__cell--non-numeric"><%= @student.admission_date %></td>
        </tr>
        <tr>
          <th>Academic Year</th>
          <td class="mdl-data-table__cell--non-numeric"><%= if !@student.academic_year.nil?
                                                              @student.academic_year.year
                                                            else
                                                              "Academic year is not selected"
                                                            end %></td>
        </tr>
        <tr>
          <th>Actions</th>
          <td class="mdl-data-table__cell--non-numeric">
            <%= link_to 'Edit', edit_student_path(@student), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <h4>PAYMENT INFO.</h4>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" style="padding-top: 1rem">
        <%= link_to 'Pay Fee', {controller: 'student_fees', action: 'new', student_id: @student.id}, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" style="padding-top: 1rem">
        <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Add Discount</button>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div style="overflow: auto">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead class="students-table">
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Payment date</th>
            <th class="mdl-data-table__cell--non-numeric">Installment no</th>
            <th class="mdl-data-table__cell--non-numeric">Amount</th>
            <th class="mdl-data-table__cell--non-numeric">Payment method</th>
            <th class="mdl-data-table__cell--non-numeric">Payment desc</th>
            <th class="mdl-data-table__cell--non-numeric">Paid by</th>
            <th class="mdl-data-table__cell--non-numeric">Received by</th>
            <th class="mdl-data-table__cell--non-numeric">Print</th>
          </tr>
          </thead>

          <tbody>
          <% if @student.student_fees.all.blank? %>
              <tr>
                <td colspan="7" class="mdl-data-table__cell--non-numeric">NOTHING TO SHOW</td>
              </tr>
          <% else %>
              <% @student.student_fees.each do |student_fee| %>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"><%= student_fee.payment_date %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= student_fee.installment_no %></td>
                    <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency(student_fee.amount.to_f.round(2)) %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= student_fee.payment_method %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= student_fee.payment_desc %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= student_fee.paid_by %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= student_fee.received_by %></td>
                    <td class="mdl-data-table__cell--non-numeric">
                      <%= link_to "<i class='material-icons' id='tt_delete_#{student_fee.id}'>print</i>".html_safe, {controller: 'students', action: 'print_receipt', id: student_fee},
                                  class: 'mdl-button mdl-js-button mdl-button--icon' %>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mdl-cell--12-col">
      <% if current_user.role == 'ADMIN' %>
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="float: right !important;">
            <tbody>
            <tr>
              <th>Allocated Fee</th>
              <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency(@student.allocated_fee.to_f.round(2)) %></td>
            </tr>
            <tr>
              <th>Discount</th>
              <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency(@student.discount.to_f.round(2)) %></td>
            </tr>
            <tr>
              <th>Paid Fee</th>
              <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency(@student.total_paid.to_f.round(2)) %></td>
            </tr>
            <tr>
              <th>Balance Fee</th>
              <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency((@student.allocated_fee.to_f.round(2) - @student.discount.to_f.round(2)) - @student.total_paid.to_f.round(2)) %></td>
            </tr>
            </tbody>
          </table>
      <% end %>
    </div>
  </div>
</div>


<dialog class="mdl-dialog" id="discount-dialog">
  <h5 class="mdl-dialog__title">Enter Discount</h5>
  <form action="<%= update_discount_path %>" data-remote="true">
    <div class="mdl-dialog__content">
      <input type="hidden" name="id" value="<%= @student.id %>">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="allocated_fee_div">
        <input type="text" name="discount" id="discount" class="mdl-textfield__input" pattern="[0-9]+(\.[0-9][0-9]?)?">
        <label for="discount" class="mdl-textfield__label">Discount</label>
        <span class="mdl-textfield__error">Only decimal numbers with precision of 2 are allowed</span>
      </div>
      <div class="mdl-dialog__actions">
        <button type="submit" class="mdl-button">Save</button>
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </div>
  </form>
</dialog>
<script>
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#show-dialog');
    if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
    });
</script>
