<!DOCTYPE html>
<html>
  <head>
    <title>StudentManagementV101</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.9/dialog-polyfill.min.css" integrity="sha256-qVjBFbunjrWQ4IikV5dkK1ziW9XKskisX1rUbCIJEhk=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.9/dialog-polyfill.min.js" integrity="sha256-Niy7AJ0dDiIklf9lFp0ZX1gZsIBa8gQ/S241Wf5vXo4=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header ">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><%= link_to ClassInfo.first.class_name.upcase, root_path, style: 'color: white' %></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><%= ClassInfo.first.class_name.upcase %></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="<%= students_path %>">Students</a>
          <a class="mdl-navigation__link" href="<%= student_fees_path %>">Fee Collection</a>
          <a class="mdl-navigation__link" href="<%= fee_structures_path %>">Fee Structure</a>
          <a class="mdl-navigation__link" href="<%= office_expenses_path %>">Office Expense</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <div class="mdl-grid">
            <%= yield %>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer" style="padding-top: 5px !important; padding-bottom: 10px !important;">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">&copy; <%= ClassInfo.first.class_name.upcase %></div>
        </div>
        <div class="mdl-mini-footer__right-section">
          <div class="mdl-logo">POWERED BY LINKER IT SOLUTIONS</div>
        </div>
      </footer>
    </div>
  </body>
</html>
